.mobile-sub-screens-header {
  display: none;
}

@media (max-width: 768px) {
  .mobile-sub-screens-header {
    display: block;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .search-sub-screen-mobile-box {
    width: 100%;
    position: relative;
  }
  .search-sub-screen-mobile-box span {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #1f2c3a;
    pointer-events: none;
    margin-top: 3px;
  }
  .search-sub-screen-mobile-box input {
    height: 40px;
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 4px 11px 4px 40px;
    color: #1f2c3a;
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    line-height: var(--lh-16);
    border-radius: var(--br-8);
    transition: all 0.2s;
    outline: none;
  }
  .mobile-sub-screens-header .search-sub-screen-mobile-box {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #dfe3e9;
  }
  .mobile-sub-screens-header .search-sub-screen-mobile-box span {
    left: 22px;
    margin-top: -2px;
  }
  .mobile-sub-screen-cart-button {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    justify-content: space-between;
    position: relative;
  }
  .mobile-sub-screen-cart-button span {
    display: flex;
    align-items: center;
  }
  .mobile-sub-screen-cart-button .departments {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: var(--black);
    font-size: var(--fs-15);
    line-height: var(--lh-18);
    font-weight: var(--fw-500);
    text-align: center;
    white-space: nowrap;
  }

  .mobile-sub-screen-cart-button span:first-child {
    justify-content: flex-start;
    width: auto;
    margin-left: 5px;
  }

  .mobile-sub-screen-cart-button span:last-child {
    justify-content: flex-end;
    width: auto;
    margin-left: auto;
  }
  .mobile-sub-screen-btn {
    min-width: 80px;
    height: 40px;
    padding: 9px 16px;
    color: var(--peace);
    background: var(--white);
    border-radius: var(--br-8);
    border: 1px solid var(--peace);
    cursor: pointer;
    font-size: var(--fs-14);
    font-weight: var(--fw-500);
    line-height: var(--lh-24);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
  }
  .mobile-sub-screen-cart {
    gap: 4px;
    width: auto;
    padding: 8px;
    min-width: 80px;
    border: 1px solid var(--peace);
    background: var(--peace);
    color: var(--white);
  }

  .mobile-sub-screen-cart span {
    font-size: 20px;
    line-height: 0;
    margin: unset !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: var(--white);
  }
  .mobile-sub-screen-cart {
    gap: 4px;
    padding: 5px 10px;
    height: 30px;
    border-radius: 5px;
  }
}
